
body {

  background-color: #F2E7FF;
}

img {

  max-width: 100%;
}


#header {

  background-color: #61447F;
  color: white;
  height: 100px;
  padding-top: 20px;


  margin-bottom: 0px;


  display: flex;
  justify-content: center;

  flex: 1 100%;

  font-size: 20px;

}


#navigation {

  background-color: #9B6DCC;
  color: white;
  height: 50px;

  margin-top: 0px;
  padding-top: 20px;


  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 25px;

  color: white;


}

#navigation a {

  color: white;
}

#filters {

  background-color: #C189FF;
  height: 40px;

}

#year-filter {

  margin-top: 10px;
  margin-left: 20px;
}


#projects {

  text-align: center;

  color: black;
}

.projectTitle {

  font-size: 25px;
  margin-bottom: 0px;
}


#projects a {

  color: #61447F;

}


@media only screen and (max-width: 640px) {


  #navigation {

    display: block;

    width: 50%;

    background-color: #9B6DCC;
    color: white;
    height: 100px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;

    float: left;

    text-align: center;

  }

  #navigation li {

    padding: 5px 0px 5px 0px;
  }

  #filters {

    display: block;
    float: right;
    background-color: #C189FF;
    height: 100px;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-bottom: 20px;

    text-align: center;
  }

  #year-filter {

    margin-top: 10px;
    margin-left: 0px;
  }






}
