
body {

  background-color: #F2E7FF;
}


#header {

  background-color: #61447F;
  color: white;
  height: 100px;
  padding-top: 20px;


  display: flex;
  justify-content: center;

  flex: 1 100%;

  font-size: 20px;

}


#navigation {

  background-color: #9B6DCC;
  color: white;
  height: 50px;
  padding-top: 20px;
  display: flex;

  flex-flow: row wrap;

  justify-content: space-around;
  font-size: 25px;

  a color: white;

}

#projects {

  text-align: center;
  justify-content: space-around;

  color: black;
}

#navigation a {

  color: white;
}


#projects a {

  color :black;
}
